@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap");
* {
  font-family: "EB Garamond", serif;
  font-size: 22px;
}
body {
  padding: 1rem;
  background-color: #ccc;
}
h1 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  font-weight: 600;
}
label {
  font-weight: 600;
  display: inline-block;
  width: 6rem;
}
fieldset,
section {
  border: 1px dashed #999;
  padding: 1rem;
  background-color: #d8d8d8;
}
fieldset:nth-child(n + 1),
section {
  margin-top: 1rem;
}
input {
  padding: 0.5rem;
  background-color: rgba(255, 228, 196, 0.5);
  border: 1px solid #999;
  border-radius: 0.5rem;
}
button {
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-left: 0.67rem;
  border-radius: 0.5rem;
  border: 1px solid #999;
  background-color: #ccf;
  cursor: pointer;
}
button:hover {
  background-color: hsl(240, 100%, 93%);
}
button:active {
  background-color: hsl(240, 100%, 87%);
}
strong {
  font-weight: 600;
}
#display {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}
#display .card {
  width: calc(3 * 60px);
  height: calc(4 * 60px);
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #555;
  box-shadow: 4px 4px 0 #000;
  color: #ccf;
}
.card h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: normal;
}
.card p {
  margin: 0.5rem 0;
}
